*{
  margin:0;
  top:0;
  left:0;
  font-size: 16px;
}

#app {
  width:calc(100vw - 15px);
}

h1{
  font-size: 60px;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 30px;
}
h5{
  font-size: 20px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.border{
  border: solid 1px #3a3a3a;
}
.M-btn{
  background-color: #181818;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.M-btn:hover{
  background-color: #3a3a3a;
}
.M-card{
  border: #d7d7d7 1px solid;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-rows: auto auto;
}